<div class="container" id="sign-up-form">
	<div class="row">
		<h1>Social Network</h1>
		<h3>Welcome!</h3>
		<div class="col-sm-offset-4 col-sm-4">
		<h3>Sign up to this new experience!</h3> 


		<%= bootstrap_form_for(resource, 
                       		       :as => resource_name, 
                       		       :url => registration_path(resource_name)) do |f| %>

			<%= f.text_field :name,  
	           	  		  class: 'form-control' %>

			<%= f.text_field :nickname,
					  class: 'form-control' %>

			<%= f.text_field :email,
		        		  class: 'form-control' %>

			<%= f.password_field :password,
				              class: 'form-control' %>

     			<%= f.password_field :password_confirmation, 
					      class: 'form-control' %>
			<%= f.submit 'Sign Up', class: 'btn sign-up-button' %>
		<% end %>
		</div>
	</div>
</div>
