.single-post-list {
	min-height: 45px;
  	max-height: 45px;
  	padding: 10px 20px 10px 0px;
  	margin: 0 10px;
  	border-bottom: solid 3px rgba(0, 0 , 0, 0.05);
  	border-bottom-right-radius: 10%;
  	transition: border-color 0.1s;
  	overflow: hidden;
  	&:hover {
   	 	cursor: pointer;
  	}
}

.page-title {
  	margin: 30px 0;
  	text-align: center;
  	background-color: white !important;
  	font-weight: bold;
  	a {
    		color: black;
 	}
  	a:hover {
    		text-decoration: underline;
  	}
}

.categories-list {
  	margin: 10px 0;
  	padding: 0;
}

.category-item {
  	display: inline-block;
  	margin: 15px 0;
  	a {
    		font-size: 16px;
    		font-size: 1.6rem;
    		color: rgba(0,0,0,0.7);
    		border: solid 2px rgba(0,0,0,0.4);
    		border-radius: 8%;
    		padding: 10px;
  	}
  	a:hover, .selected-item {
    		background: $navbarColor;
    		color: white;
    		border: solid 2px white;
    		border-radius: 0px;
  	}
}

.new-post-button-parent {
  	text-align: right;
  	span {
    		font-size: 12px;
    		font-size: 1.2rem;
  	}
}

.new-post-button {
  	display: inline-block;
  	background: $navbarColor;
  	color: white;
  	padding: 8px;
  	border-radius: 10px;
  	font-weight: bold;
 	border: solid 2px $navbarColor;
  	margin: 10px 0;
  	&:hover, &:active, &:focus {
    		background: white;
    		color: black;
  	}
}

.login-branch {
  	margin: 10px 0;
}

.login-button-branch {
  	padding: 5px 10px;
  	border-radius: 10px;
  	&:hover, &:active, &:visited, &:link {
    		color: white;
  	}
}

#branch-main-content {
  	background: white;
  	height: calc(100vh - 50px);
}

#feed {
  	background-color: white;
}
