<div class="container">
	<div class="row">
		<div class="col-sm-3 col-sm-offset-0.5">
			<h2 class="text-center">Log in</h2>
				<%= bootstrap_form_for(resource, 
                       		as: resource_name, 
                       		url: session_path(resource_name)) do |f| %>

    				<%= f.email_field :email, 
                      		autofocus: true, 
                      		class: 'form-control' %>

   				<%= f.password_field  :password, 
                         	autocomplete: "off", 
                          	class: 'form-control' %>


  				<% if devise_mapping.rememberable? -%>
     				<%= f.check_box :remember_me %>
 				<% end -%>

   				<%= f.submit "Log in", class: 'form-control login-button' %>
				<% end %>
		</div>
	</div> 
</div>




