<div class="single-post-list" id=<%= post_path(post.id) %>>
	<%= truncate(post.title, :length => 60) %>
	<div class="post-content">
		<div class="posted-by">Posted by <%= post.user.name %></div>
		<h3><%= post.title %></h3> 
		<p><%= post.content %></p>
		<%= link_to "I'm interested", post_path(post.id), class: 'interested' %> 
	</div>
</div>
