<div class="col-sm-3 single-post-card" id=<%= post_path(post.id) %>>
	<div class="card">
		<div class="card-block">
			<h4 class="post-text">
				<%= truncate(post.title, :length => 60) %>
			</h4>
			<div class="post-content">
				<div class="posted-by">Posted by <%= post.user.name %></div>
				<h3><%= post.title %></h3> 
				<p><%= post.content %></p>
				<%= link_to "I'm interested", post_path(post.id), class: 'interested' %>
			</div>
		</div>
	</div>
</div>
