<div class="container new-post">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
      			<h1>Post something new! Yay!</h1>
        		<%= render 'posts/new/post_form' %>
    		</div>
  	</div>
</div>
