<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="row">

			<div class="col-sm-7">
				<%= render 'layouts/navigation/header' %>
			</div>

			<div class="col-sm-5">
				<%= render 'layouts/navigation/collapsible_elements' %>
			</div>
		</div>
	</div>
</nav>
