<!DOCTYPE html>
<html>
  	<head>
    		<title>SocialNetwork</title>
    			<%= csrf_meta_tags %>
    			<%= csp_meta_tag %>

    			<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    			<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  	</head>

 	<body>
    		<%= render 'layouts/navigation' %>
    		<%= yield %>

  	</body>
</html>
