<div class="collapse navbar-collapse navbar-right" id="navbar-collapsible-content">
	<ul class="nav navbar-nav ">
		<div class="collapse navbar-collapse navbar-right" id="navbar-collapsible-content">
  			<ul class="nav navbar-nav ">
    				<%= render collapsible_links_partial_path %>
  			</ul>
		</div>    
  	</ul>
</div>
